<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <span class="material-icons">sports_soccer</span>
        ⚽ SportTeam Manager
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/players" routerLinkActive="active">
              <span class="material-icons">people</span>
              Jogadores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teams" routerLinkActive="active">
              <span class="material-icons">groups</span>
              Times
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trainings" routerLinkActive="active">
              <span class="material-icons">fitness_center</span>
              Treinos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/matches" routerLinkActive="active">
              <span class="material-icons">sports</span>
              Partidas
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>